.plane {
    position: fixed;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 150px;
    border-radius: 25px;
    background-color: #3498db;
    transition: all 0.3s;
}

.plane:hover {
    width: 600px;
    height: 300px;
    /* Increase the height on hover */
    border-radius: 25px;
    background-color: #db348a;
}