.plane {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  z-index: 9999;
  cursor: pointer;
  visibility: visible;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.plane:hover .plane_img {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.plane_img {
  height: 260px;
  border-radius: 12px;
  transition: transform 0.3s ease;
}
