body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
}

.plane {
    cursor: pointer;
    width: 150px;
    height: 300px;
    border-radius: 25px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.plane:hover {
    width: 300px;
    height: 600px;
    /* Increase the height on hover */
    border-radius: 25px;
    background-color: #db348a;
}

.plane img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    transition: all 0.6s;
    /* Add a smooth transition effect */
}

.plane:hover img {
    transform: scale(1.1);
}